/* developed in landscape mobil first*/

/*////////// GENERAL  ////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

body {
    font-size: 27px;
    margin: 2%;
    font-family: 'Francois One', sans-serif;

    color: white;

    background-color: #2f0e91;

}

a {
    text-decoration: none;
    color: #ffff;
}

ol {
    list-style: none;
}

section {
    margin: 4% 0;
}

h2 {
    font-size: 1.3em;
    padding: 15px;
    background-color: #7158e2;

}

h3 {
    font-size: 1.2em;
    padding: 15px;
    background-color: #17c0eb;

}

h4 {
    font-size: 1.1em;
    padding: 15px;
    background-color: #67e6dc;
}

fieldset { /* delete the browser design */
    margin: 0;
    border-width: 0;
    border-style: none;
    border-color: white;
    border-image: none;

}

textarea { /* delete the browser design */
    border-color: white;
    border-width: 0;
    border-style: none;
    border-image : none;

    /* custome */
    color: black;

    padding: 5px;

    font-size: 12px;
}

input {/* delete the browser design */
    border: none;
    padding: 4px;
    font-size: 27px;
    background-color: white;
}


.btn {
    padding: 10px;
    background-color: #3ae374;
    border : 3px solid #3ae374;
    border-radius: 5px;
    border-bottom: 3px solid #0d421f;
    color: white;
    font-size: 1.5em;
    height: 70px;
    width: 90px;
    line-height: 0;
    text-decoration: none;
}

.btnDelete {
    background-color: #ff3838;
    border : 3px solid #ff3838;
    border-bottom: 3px solid #5b1111;
    line-height: 0;

    order: 3;
}

.btnRead, .btnUpdate {
    background-color: #ff9f1a;
    border: 3px solid #ff9f1a;
    border-bottom: 3px solid #965b0f;
}

.btnPreviousNext {
    background-color: #4b4b4b;
    border: 3px solid #4b4b4b;
    border-bottom: 3px solid #3d3d3d;
}

#btnAction {
    display: flex;
    margin : 4% 0;
    justify-content: space-between;
}

#next {
    order: 4;
}

#previous {
    order: 1;
}

.btnRead {
    order: 2;
}

.btnUpdate {
    order: 2;
}

.btnSearch {
    background-color: #7158e2;
    font-size: 1.2em;
    border: 3px solid #7158e2;
    border-bottom: #3f337a 3px solid;
}

.fa::before {
    color: white;
}

.fa-calendar::before {
    position: relative;
    font-size: 40px;
    top: 4px;
    right: 10px;
}

.fa-clock-o::before {
    position: relative;
    font-size: 45px;
    top: 6px;
    right: 10px;
}

#moreElements {
    display: flex;
    margin-top: 2%;
    width: 100%;
}

#elaborationTxt, #previousEventsTxt   {
    display: inline-block;
    width: 50%;
    margin-top: 0;

    text-align: center;
    height: 70px;
    line-height: 70px;
}

#elaboration textarea, #previousEvents textarea {
    display: none;
    width: 96vw;
    height: 200px;
}

#elaborationTxt {
    background-color: #c56cf0 ;

}

#previousEventsTxt {
    background-color: #ffaf40;
    margin-left: 2%;
}

#submitDream {
    margin-top: 3%;
    margin-left: 45%;
}


.notification {
    position: absolute;
    padding: 15px;
    margin: 2%;
    /*border-radius: 10px; */
    background-color: #3ae374;
    z-index: 2;
}

.notifError {
    background-color: #ff4d4d;
}



/*//////////  HEADER  ////////////*/
header {
    display: flex;
    margin-bottom: 3%;
}

#logo {

    text-align: center;
    background-color: #ff3838;
}

#logo-img {
    width: 26%;
    height: 100%;
}

nav {
    width: 50%;
    display: flex;
   align-items: center;
    justify-content: space-between;
}

nav a {

    height: 100%;
    text-align: center;
    width: 25%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header .fa {
    color : white;
}

#nav-home {
    border: 2px solid #ff9f1a;
    background-color: #ff9f1a;
}

#nav-book {
    border: 2px solid #c56cf0 ;
    background-color: #c56cf0;
}

#nav-profil {
    border: 2px solid #17c0eb ;
    background-color: #17c0eb;
}

#nav-logout {
    border: 2px solid #3d3d3d ;
    background-color: #3d3d3d;
}

#dateTime {
    margin-top: 2%;
    width: 100%;
}

#dateTime label {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

#dateTime-dreamDate {
    background-color: #17c0eb ;
    width: 58%;
    margin-right: 1%;
}



#dateTime-dreamHour {
    background-color: #ffb8b8;
    width: 40%;
}


/*////////////  HOMELOGGED  ///////////*/
#dream {
    background-color: #7158e2;
    color: white;
}

#dream label {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

#dream p, #dreamWrite {
    display: inline-block;
}

#dreamWrite {
    margin: 10px;
    height: 50vh;
    width: 75%;
    /*font-size: 0.5em; a voir en sur les vrai devices */

}

/*#dreamWrite::placeholder {
    font-size: 1.7em;
}

#dreamWrite:-ms-input-placeholder {
    font-size: 1.7em;
}

#dreamWrite:-ms-input-placeholder {
    font-size: 1.7em;
}

*/
#dream p {
    text-align: center;
    width: 25%;
    height: 40vh;
    line-height: 40vh;
}

#dream span {
   position: absolute;
    padding-top: 5vh;
    font-size: 60px;
    left: 18%;
    color: #fff200 ;
}


/*///////////  INDEXDREAMS  ///////////*/
#indexDreams-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#indexDreams-list h2, #indexDreams-list h3, #indexDreams-list h4, #indexDreams-list li {
    display: flex;
    padding: 15px;
    flex-grow: 0.5;
}

#indexDreams-list li {
    flex-direction: column;
}

#indexDreams-list h2 p, #indexDreams-list h3 p, #indexDreams-list h4 p, #indexDreams-list li {
    margin: auto;
}

#indexDreams-list a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#indexDreams-list p {
    text-align: center;
}


/*  for index dreams and results search */
#indexDreams-list li[class$='0'], #indexDreams-list li[class$='6'], #resultsSearch li[id$='0'], #resultsSearch li[id$='6'] {
    background-color: #ff4d4d;
}

#indexDreams-list li[class$='1'], #indexDreams-list li[class$='7'], #resultsSearch li[id$='1'], #resultsSearch li[id$='7'] {
    background-color: #ffaf40;
}

#indexDreams-list li[class$='2'], #indexDreams-list li[class$='8'], #resultsSearch li[id$='2'], #resultsSearch li[id$='8'] {
    background-color: #c56cf0;
}

#indexDreams-list li[class$='3'], #indexDreams-list li[class$='9'], #resultsSearch li[id$='3'], #resultsSearch li[id$='9'] {
    background-color: #4b4b4b;
}

#indexDreams-list li[class$='4'], #resultsSearch li[id$='4'] {
    background-color: #ffb8b8;
}

#indexDreams-list li[class$='5'], #resultsSearch li[id$='5'] {
    background-color: #3ae374 ;
}

/*#indexDreams-list a:visited, #resultsSearch a:visited { /* be careful to order*/
/*    color: #E6E6FA;
} a voir si on met ou pas*/


/*////////////  PROFIL  ////////////*/
#updateAccount h2{
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-left: 33%;
}

#updateAccount form {
    display: flex;
    flex-wrap: wrap;
    margin: 4% 0;
}

#updateAccount  h3 {
    width: 33%;
    text-align: center;
}

#updateAccount label {
    width: 55%;
    padding: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffaf40;
}

#updateAccount input {
    margin-left: 2%;
}

#updateAccount label:nth-child(3n) {
    margin-left: 33%;
    border-top: 2px solid #ff9f1a;
}

#updateAccount .btn {
    align-self: flex-end;
}


/*////////////  UPDATEDREAM  ////////////*/
#updateDream-title {
    display: flex;
    justify-content: space-between;
}

#updateDream-updated {
    display: flex;
    flex-wrap: wrap;
}

.ru-dream {
    width: 96vw;
    height: 250px;
}


/*////////////  READDREAM  /////////////*/
#readDream-date {
    font-size: 1.2em;
    padding: 15px;
    background-color: #17c0eb;
}

#readTitlteBox {
    display: flex;
    justify-content: space-between;
}


#readDream-dream {
    padding: 15px;
    background-color: #7158e2;
}

#readDream-dream .ru-dream, .ru-elaboration, .ru-previousEvents {
    height: auto;
    width: 100%;
    font-size: 0.9em;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    /*-o-hyphens: auto;**/
    hyphens: auto;
    text-align: justify;
}


.read-aside {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

#read-aside-elaboration, #readDreamElaboration div  {
    background-color: #c56cf0;
}

#read-aside-elaboration, #read-aside-events {
    align-self: flex-start;
    padding: 15px;
}

#readDreamElaboration div {
    padding: 15px;
}


#read-aside-events, #readDreamPreviousEvents div {
    background-color: #ffaf40;
    padding: 15px;
}


/*/////////////  SEARCH  //////////*/
#searchForm {
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

#search {
    margin: 6% 0 0 0;
}
#searchForm input {
    margin-left: 15px;
}

#searchForm label {
    padding: 2%;
    background-color: #4b4b4b;
    margin-right: 30px;
}

#arrowLeftSearch, #arrowRightSearch {
    display: none;
    opacity: 0.5;
}

#partResultsSearch {
    margin-top: 2%;
}
#titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#resultsSearch {
    display: flex;
    flex-wrap: wrap;
}

#resultsSearch li {
    width: 50%;
    font-size: 0.9em;
    padding: 15px;
    display: flex;
    justify-content: center;
}

#boxArrowSearch {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#boxArrowSearch .btnPreviousNext {
    margin: 0 1% 0 1%;
}






/*///////////  HOME CONNECTION  ///////////*/






















/*
pour odri
#indexDreams-list li:hover {
    background-color : white;
    border : 2px solid  #7158e2;
}

#indexDreams-list a:hover {
    color :  #7158e2;
}




pareil menu
.btn:hover {
    color : #4b4b4b
     background-color: white;
    border : 3px solid #4b4b4b;
}


*/









